$screen-lg-min: 991px;
$screen-lg-max: 992px;
$padding: 80px;

@mixin lg-min {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin lg-max {
    @media (min-width: #{$screen-lg-max}) {
        @content;
    }
 }

.main-section{
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-areas: "menu left middle right pad";
    grid-template-columns: 110px 29% 30% 29% 55px;
    // margin-top: -30px;

    .trigger{
        background: transparent;
        height: 30px;
        z-index: 0;
        position: absolute;
        width: 100%;
    }

    @include lg-min {
        height: max-content;
        grid-template-areas: "left"
        "middle"
        "right";
        grid-template-columns: 100%;
    }
    span{
        border-right: 2px solid #f2f2f2;
        height: 100%;
    }

    .services-text{
        grid-area: left;
        padding: 40px;
        display: block;
        margin: auto;

        @include lg-min {
            padding-left: $padding;
            padding-right: $padding;
        }

        h3{
            display: inline;
        }

        p{  
            text-align: justify;
            font-family: HelveticaLight;
            font-size: .9em;
            padding-top: 10px;
            color: #6b6b6b;
        }
    }

    .dvService-list{
        background: #d2d2d266;
        grid-area: middle;
        padding: 40px;
        display: table;
        height: 100%;

        @include lg-min {
            padding-left: $padding;
            padding-right: $padding;
            background: transparent;
        }

        .contain{
            display: table-cell;
            vertical-align: middle;

            p{
                font-family: HelveticaLight;
                font-size: .9em;
                text-align: justify;
                color: #6b6b6b;
            }
        }
    }

    .dvService-qoute{
        background: #d2d2d266;
        grid-area: right;
        display: table;
        height: 100%;

        @include lg-min {
            // padding-left: $padding;
            // padding-right: $padding;
            width: 90%;
            display: block;
            margin: auto;
            background: #d2d2d266;
        }

        .quote{
            display: table-cell;
            vertical-align: middle;
            padding: 55px;

            .smallQuote{
                height: 20px;
                width: 20px;
            }
    
            p{
                font-family: HelveticaLight;
                font-size: .9em;
                text-align: justify;
                color: #6b6b6b;
                padding-top: 10px;
            }
        }
    }
}